/***********General Tag***************/
body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
  color: #fbdcc4;
  background-color: #43658b;
}

h1 {
  margin: auto;
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  color: #0b0f23;
  font-size: 500%;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ed6663;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffa372;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  color: #0b0f23;
  font-size: 1.6rem;
  font-weight: normal;
}

hr {
  margin: 20% auto 20% auto;
  border-top: dotted .625rem #EAF6F6;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 3.75rem;
}

/***********Class Tags***************/
.title {
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  top: 6.25rem;
}

.pro {
  text-decoration: underline;
}

.top {
  height: 43.75rem;
  background-image: url(mountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pro-pic-one {
  padding-top: 10%;
  width: 15%;
  display: inline;
  float:left;
}

.pro-pic-two {
  display:inline-block;
  position: absolute;
  left: 85%;
  top: 1400px;
  width: 15%;
}

.profile {
  margin: auto auto 10% auto;
  line-height: 2.3;
}

.profile-row {
  margin: auto 3% auto 3%;
  diplay: inline- block;
}

.wordpress {
  text-align: left;
  padding-top: 100px;
  padding-bottom: 120px;
}

.wordpress-img {
  width: 15%;
  float: left;
  margin-right: 2%;
}

.html {
  text-align: right;
  padding-bottom: 120px;
}

.html-img {
  width: 14%;
  float: right;
  margin-left: 2%;
}

.java {
text-align: left;
margin-right: 10%;
}

.java-img {
  width: 14%;
  float:left;
  margin-right: 2%;
}


.bottom {
  height: 12.5rem;
  width: 12.5rem;
}

.btn {
  background: #ffa372;
  background-image: -webkit-linear-gradient(top, #ffa372, #db8e67);
  background-image: -moz-linear-gradient(top, #ffa372, #db8e67);
  background-image: -ms-linear-gradient(top, #ffa372, #db8e67);
  background-image: -o-linear-gradient(top, #ffa372, #db8e67);
  background-image: linear-gradient(to bottom, #ffa372, #db8e67);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  ;
  color: #43658b;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffa372;
  text-decoration: none;
}

.contact-me {
  padding-top: 13px;
  padding-bottom: 70px;
}

.footer {
  background-color: #ed6663;
  padding: 35px 0 5px 0;
}

.fab {
  color: #43658b;
  font-size: 1.25rem;
  position: relative;
  bottom: 20px;
  padding: 0 .5rem 0 .5rem;
}

.fab:hover {
  color: #60748a;
}

/* navbar */
.navbar {
  background-color: #0b0f23;
}

.dropdown-menu {

  text-align: right;
  border: none;
}

.nav-link {
  background-color: transparant;
}

/* testimonials */
.testimonials {
  padding: 50px 100px 50px 100px;
  margin:0;
}

.selena {
  padding: 20px 0 20px 0;
  width: 80px;
  border-radius: 100%;
  opacity: 88%
}

.selena-name {
  font-family: "Sacramento";
  font-size: 25px;
  color: #ed6663;
}

.selena-job {
  position: relative;
  bottom: 10px;
  color: #ed6663;
  font-size: 13px;
  opacity: 60%;
}

.wiley {
  padding: 20px 0 20px 0;
  width: 80px;
  border-radius: 100%;
  opacity: 80%;
}

.wiley-name {
  font-family: "Sacramento";
  font-size: 25px;
  color: #ed6663;
}

.wiley-job {
  position: relative;
  bottom: 10px;
  color: #ed6663;
  font-size: 13px;
  opacity: 60%;
}

#hello {
  display: block;
  position: relative;
  bottom: 9.125rem;
}

#testimonials {
  display: block;
  position: relative;
  bottom: 9.125rem;
}

#skills {
  display: block;
  position: relative;
  bottom: 9.125rem;
}
